.card-media {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0.8;
}

.card-media:hover {
  transform: scale(1.1);
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}